DATABASE_URL=postgres://imm_registry:imm_registry@postgres:5432/imm_registry
IMM_REGISTRY_BIND=0.0.0.0:8080
IMM_REGISTRY_PUBLIC_BASE_URL=https://registry.imm-lang.org
IMM_REGISTRY_STORAGE_ROOT=/var/lib/imm-registry
IMM_REGISTRY_STORAGE_HOST_PATH=/srv/imm-registry
IMM_REGISTRY_ADMIN_TOKEN=change-this-token
IMM_REGISTRY_MAX_UPLOAD_BYTES=26214400
IMM_REGISTRY_PORT=8080
RUST_LOG=imm_registry=info,tower_http=info
